@use '../../styles/variables' as *;

.row {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.variationFocus {
  :global(button) {
    border-color: $colorBorderActive !important; // Focus: #ffe500
  }
}
